
body
{
	font-family: 'Slabo 27px', serif;
	margin: 0!important;
	
}


#witaj
{
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 2px;
	word-spacing:2px;
	color: white;
	background-color:#222222;
	padding:5px;
}
#witaj:hover
{
	cursor:default;
}

#przycisk
{
	border: 0.5px solid #CCCCCC;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 1px;
	word-spacing:2px;
	color: black;
	background-color: #7DF587;
	padding:5px;
	margin-top:10px;
	max-width:300px;
	float: left;
}

#miejsce
{
	color: black;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	word-spacing:2px;
	background-color:#F2FCD2;
	padding:5px;
	margin-top:10px;
	max-width:300px;
	float: left;
	min-height:50px;
}

.priorytet
{
	color: black;
	text-align: center center;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	word-spacing:2px;
	background-color:#F2FCD2;
	padding:5px;
	margin-top:10px;
	min-height:52px;
	max-width:55px;
}


#lista
{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Slabo 27px', serif;
	margin-top: 10px;
}
#lista:hover
{
	cursor:default;
}

#obok
{
	
	text-align: center;
	font-weight: bold;
	float: left;
	padding-left: 0px;
	margin-left: 0px;
	
}

#obok1
{	
	
	text-align: center;
	font-weight: bold;
	float: left;
	margin-left: 0px;
	padding-left: 0px;
}


#tresc
{	
	
	text-align: center;
	font-weight: bold;
	float: left;
	margin-left: 30px;
	}


#kolor
{
	background-color:#EDEDED;
}
#kolor:hover
{
	background-color:#F5757C;
	cursor:pointer;
}
